<button (click)="returnToListing()">
  <fa-icon [icon]="backIcon"></fa-icon>
  Go Back
</button>
<br><br>
<div class="details-header">
  <img class="service-icon" />
  <h1>View/Edit Account...</h1>
</div>

<div class="content">
  <form [formGroup]="accountForm">
    <div class="form-grid">
        <label class="form-label">Account Name: </label>
        <input type="text" class="luna-input" formControlName="name">

        <label class="form-label">URL: </label>
        <input class="luna-input" formControlName="url">

        <label class="form-label">Username: </label>
        <input class="luna-input" formControlName="username">

        <label class="form-label">Password: </label>

        <div class="luna-form-group">
          <input class="luna-input luna-input-prepend r-rounded" formControlName="password" style="font-family: monospace; flex-grow: 1">
          <button class="luna-input-append l-rounded" (click)="openGenerator()">
            <fa-icon [icon]="generateIcon"></fa-icon>
          </button>
        </div>
    </div>

    <div class="form-controls">
      <button class="luna-danger" title="Discard/Revert Changes" (click)="loadDetails()">
        <fa-icon [icon]="discardIcon"></fa-icon>
        Discard/Revert Changes
      </button>

      <button type="submit" title="Save Changes" (click)="save()">
        <fa-icon [icon]="saveIcon"></fa-icon>
        Save Changes
      </button>
    </div>
  </form>
</div>
