<div class="navbar">
  <div class="navbar-content">
    <h1 routerLink="/accounts">
      <em class="blue">Luna</em><em class="red">Pass</em>
    </h1>

    <div class="form-group">
      <form>
        <input class="luna-input" type="text" placeholder="Search..." style="font-size: 12pt;">
        <button title="Search Accounts...">
          <fa-icon class="fa-lg" [icon]="searchIcon"></fa-icon>
        </button>
      </form>
    </div>

    <button title="Add New" routerLink="/details/0">
      <fa-icon class="fa-2x" [icon]="addIcon"></fa-icon>
    </button>

  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
