<div class="navbar">
  <div class="navbar-content">
    <h1 routerLink="/accounts">
      <em class="blue">Luna</em><em class="red">Pass</em>
    </h1>

    <div class="form-group">
      <form (ngSubmit)="runSearch()">
        <input class="luna-input r-rounded" type="text" placeholder="Search..." style="font-size: 12pt; margin-right: 0" [formControl]="searchField" (input)="delayedRun()">
        <button title="Search Accounts..." class="l-half-circle" style="margin-left: 0">
          <fa-icon class="fa-lg" [icon]="searchIcon"></fa-icon>
        </button>
      </form>
    </div>

    <div>
      <button class="rounded" title="Add New" routerLink="/details/0">
        <fa-icon class="fa-2x" [icon]="addIcon"></fa-icon>
      </button>
      <button class="rounded luna-danger" title="Logout" (click)="logout()">
        <fa-icon class="fa-2x" [icon]="logoutIcon"></fa-icon>
      </button>
    </div>

  </div>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
